{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row" style="">
          <div class="jumbotron">
            <h1 class="">Blog pessoal</h1><span class="">Crie seu blog de forma simples e fácil!</span>
          </div>
        </div>
        <div class="row">
          <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img src="/static/img/blog.jpg" alt="Blog" class="img-thumbnail img-responsive" data-src="">
              <h2>Tenha uma página sua</h2>
              <p align="justify">Crie um usuário para poder compartilhar suas ideias. Crie posts de forma simples e fácil.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/static/img/tag.png" alt="Blog" class="img-thumbnail img-responsive" data-src="">
              <h2>Crie tags</h2>
              <p align="justify">Com o sistema de tags você consegue categorizar o que você escreve facilitando seus leitores a buscar assuntos de interesse.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/static/img/comentario.jpg" alt="Blog" class="img-thumbnail img-responsive" data-src="">
              <h2>Comentários</h2>
              <p align="justify">Deixe seus leitores opinarem sobre o que você escreve e troque ideias com eles.</p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>
        </div>
        <hr class="featurette-divider">
    </div><!-- /.container -->
{% endblock %}